* {
	transition: 0.12s;
}

header {
	display: flex;
	position: sticky;
	top: 0;
	padding: 10px;
	background-color: pink;
	right: 0;
	left: 0;
}
.aboutme1 {
	font-family: 'Poppins', sans-serif;
	background-color: pink;
	border: 3.5px solid rgba(147, 135, 113, 0.921);
	border-radius: 10px;
	margin-left: 45%;
	display: flex;
}
#contactMe {
	font-family: 'Poppins', sans-serif;
	background-color: pink;
	display: flex;
	margin-left: 1%;
	border: 3.5px solid rgba(147, 135, 113, 0.921);
	border-radius: 10px;
	cursor: pointer;
}
#place-I-Love {
	font-family: 'Poppins', sans-serif;
	background-color: pink;
	display: flex;
	margin-left: 25%;
	border: 3.5px solid rgba(147, 135, 113, 0.921);
	border-radius: 10px;
	cursor: pointer;
}
#box1 {
	background-color: black;
	display: flex;
	margin-left: 100%;
	margin-bottom: 200px;
}

.button1 {
	font-family: 'Poppins', sans-serif;
	background-color: rgb(44, 42, 43);
	display: flex;
	border: 3.5px solid rgba(147, 135, 113, 0.921);
	border-radius: 10px;
	cursor: pointer;
	color: azure;
	font-family: 'Poppins', sans-serif;
}

.button1:active {
	box-shadow: 0 10px #666;
	transform: translateY(10px);
	font-family: 'Poppins', sans-serif;
}
.dark {
	background: rgb(49, 51, 71);
	color: white;
}

footer {
	position: fixed;
	top: 95%;
	background-color: pink;
	right: 0;
	left: 0;
	padding: 10px;
}
.footername {
	text-align: left;
	margin-right: 75%;
	font-family: 'Poppins', sans-serif;
}
.footerdate {
	text-align: right;
	/* margin-right: 100px; */
	font-family: 'Poppins', sans-serif;
}
h1 {
	text-align: center;
	font-size: 70px;
}

h1 {
	font-family: 'Hanalei Fill', cursive;
	color: rgba(155, 159, 158, 0.751);
}
h4 {
	font-family: 'Rubik 80s Fade', cursive;
	color: rgba(155, 159, 158, 0.751);
}
h5 {
	font-family: 'Rubik 80s Fade', cursive;
	font-size: 25px;
}

body {
	background-color: rgba(212, 216, 246, 0.893);
}
#allThePhotos {
	font-family: 'Poppins', sans-serif;
	font-size: 10px;
	display: grid;
	grid-template-columns: repeat(7, 100px);
	grid-template-rows: repeat(3, 100px);
}
.photo1 {
	height: 200px;
	width: 400px;
	grid-column: 1;
	grid-row: 1;
}

.photo2 {
	height: 100px;
	width: 200px;
	margin-left: 200px;
	grid-column: 3 / span 2;
	grid-row: 1;
}

.photo3 {
	width: 200px;
	height: 100px;
	grid-row: 3;
}
.photo4 {
	height: 200px;
	width: 300px;
	grid-column: 2;
	grid-row: 2;
	margin-left: 302%;
}
.photo5 {
	height: 100px;
	width: 100px;
	grid-row: 1;
	grid-column: 7;
}
.photo6 {
	height: 100px;
	width: 200px;
	grid-row: 3;
	grid-column: 3;
}
li:nth-child(2) {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
li:nth-child(3) {
	font-weight: bolder;
	font-family: 'Poppins', sans-serif;
}
li:nth-child(1) {
	font-family: 'Poppins', sans-serif;
}
li:nth-child(4) {
	font-family: 'Poppins', sans-serif;
}
li:nth-child() {
	margin: 100px;
}

.click:active {
	cursor: pointer;
	color: red;
	background-color: blue;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
	box-shadow: 1px 2px 38px rgb(49 51 71), 0 0 25px rgb(49 51 71),
		0 0 5px rgb(49 51 71);
}
.click {
	background-color: rgb(115, 157, 224);
	padding: 8px;
	color: white;
}

.high {
	background-color: blueviolet;
}
.mycity {
	font-family: 'Rubik 80s Fade', cursive;
}
.song {
	font-family: 'Poppins', sans-serif;
	margin-bottom: 50px;
}
#photo1 {
	display: grid;
	margin-top: 180px;
	margin-left: -219px;
	font-family: 'Poppins', sans-serif;
}
#photo2 {
	display: grid;
	margin-top: 180px;
	margin-left: -255px;
	font-family: 'Poppins', sans-serif;
}

#photo3 {
	display: grid;
	margin-top: 180px;
	margin-left: -406px;
	font-family: 'Poppins', sans-serif;
}
